<% layout("/layouts/boilerPlate") %>
<body>
    <div id="indCompany_invoicesHolder" style="margin-top: 35px;">
        <div style="height:100px; width:100%; display:flex; justify-content: center;margin-bottom: 25px;">
            <div style="height: 100%;
            width:90%;
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            background:linear-gradient(to right, rgb(103, 232, 249), rgb(147, 197, 253), rgb(249, 168, 212));">
                <div style="width:99%;
                height:82%;
                background-color: white;
                border-radius: 7px;
                display:flex;
                align-items: center;">
                    <div style="width:75%;height:75%;box-sizing: border-box;padding-left: 15px;">
                        <div style="color: #00BFFF;font-size: 25px;font-weight: 550;text-transform: capitalize;">
                            <%= allImpInvoices_indCompany.invoices[0].place.split("_")[0] %> Import Invoices
                        </div>
                        <div style="font-size: 15px;">Manage and track all your import invoices</div>
                    </div>
                    <%if(reqUser !== undefined){%>
                    <div id="addPayment_company" style="width:25%;
                    height:75%;
                    color:rgb(248, 144, 201);
                    font-size: 19px;
                    display: flex;
                    align-items: center;
                    justify-content:end;
                    box-sizing: border-box;
                    padding-right: 25px;
                    cursor: pointer;
                    font-weight: 550;">
                        Add Payment
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
        <table id="indCompany_imports_table">
            <caption style="background: linear-gradient(to right, rgb(59, 130, 246), rgb(37, 99, 235));">Imports Invoices</caption>
            <tr class="all_invoices_rows" style="background: linear-gradient(125deg, #b6f3e261, #59d1f658);">
                <th>Date</th>
                <th>Invoice</th>
                <th>Total Amount</th>
                <th>Download Invoice</th>
                <%if(reqUser !== undefined){%> <th>Delete</th><%}%>
            </tr>
            <% for(i of allImpInvoices_indCompany.invoices){ %>
            <tr class="all_invoices_rows" style="position:relative;" class="importRows">
                <td class="all_invoices_data_rows"><%= new Date(i.date).toLocaleDateString()%></td>
                <td class="all_invoices_data_rows"><%= i.invoice %></td>
                <td class="all_invoices_data_rows"><%= i.totalSpendable.toFixed(3) %></td>
                <td class="all_invoices_data_rows" style="font-size: 25px;cursor:pointer;color:brown">
                    <i class="fa-solid fa-download"></i>
                    <div>
                        <div style="display: flex;align-items: center;border-bottom: 1px solid white;height:35px;">
                            <div style="width:31%;color:#67e8f9">Item</div>
                            <div style="width:23%;color:#67e8f9">Count</div>
                            <div style="width:23%;color:#67e8f9">Ind item cost</div>
                            <div style="width:23%;color:#67e8f9">Total Cost</div>
                        </div>
                    <%for(j of i.productsBought){ %>
                        <div style="display: flex">
                            <div style="width:31%;color:#e0e2e3;<%if(j.itemName.length>12){%>font-size:12px;<%}%>"><%=j.itemName%></div>
                            <div style="width:23%;color:#e0e2e3"><%=j.number%></div>
                            <div style="width:23%;color:#e0e2e3"><%=j.amount.toFixed(3)%></div>
                            <div style="width:23%;color:#86efac"><%=(Number(j.number)*Number(j.amount)).toFixed(3)%></div>
                        </div>
                    <% } %>
                        <div style="display:flex;align-items: center;border-top:1px solid white;height:30px;">
                            <div style="width:50%;text-align: right;margin-left:auto;color:#fde047">Total ( before gst ) :</div>
                            <div style="width:25%;color:#86efac"><%=((i.totalSpendable*100)/(100+i.cgst+i.sgst)).toFixed(3)%></div>
                        </div>
                        <div style="display:flex;flex-direction: column;border-top:1px solid white;color:#ffab91;row-gap: 5px;">
                            <div style="display: flex; margin-left:30%;width:70%">
                                <div style="width:33%;">cgst</div>
                                <div style="width:34%;"><%=i.cgst%> %</div>
                                <div style="width:33%;color:#ffb74d;"><%=(((i.totalSpendable*100)/(100+i.cgst+i.sgst))*(i.cgst/100)).toFixed(3)%></div>
                            </div>
                            <div style="display: flex;margin-left:30%;width: 70%;">
                                <div style="width:33%;">sgst</div>
                                <div style="width:34%;"><%=i.sgst%> %</div>
                                <div style="width:33%;color:#ffb74d;"><%=(((i.totalSpendable*100)/(100+i.cgst+i.sgst))*(i.sgst/100)).toFixed(3)%></div>
                            </div>
                        </div>
                        <div style="display:flex;align-items: center;border-top:1px solid white;height:30px;">
                            <div style="width:25%;margin-left:auto;color:#fde047">Total:</div>
                            <div style="width:25%;color:#86efac"><%=(i.totalSpendable).toFixed(3)%></div>
                        </div>
                    </div>
                </td>
                <%if(reqUser !== undefined){%> <td class="all_invoices_data_rows">
                    <form action="/delete/import/<%=i._id%>?_method=DELETE" method="post" class="deleteCompany_invoiceForm">
                        <i class="fa-solid fa-trash-can" style="color:red;cursor:pointer;"></i>
                    </form>
                </td> <%}%>
            </tr>
            <% } %>
        </table>
        <br><br>
        <table id="indCompany_payments_table">
            <caption style="background: linear-gradient(to right, rgb(107, 114, 128), rgb(75, 85, 99));">Payments</caption>
            <tr class="all_invoices_rows" style="background: linear-gradient(to right, rgb(229, 231, 235), rgb(209, 213, 219));">
                <th>Date</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Transaction id</th>
                <%if(reqUser !== undefined){%><th>Delete</th><%}%>
            </tr>
            <% if(allImpInvoices_indCompany.amount){%>
            <% for(let i of allImpInvoices_indCompany.amount){ %>
                <tr class="all_invoices_rows">
                    <td class="all_invoices_data_rows"><%= new Date(i.date).toLocaleDateString()%></td>
                    <td class="all_invoices_data_rows"<%if(i.amountType === "RECEIVED"){%>style="color:#4CBB17;font-weight:650;"<%}else{%>style="color:red;font-weight:650;"<%}%>><%=i.amountType%></td>
                    <td class="all_invoices_data_rows"><%=i.money%></td>
                    <td class="all_invoices_data_rows"><%=i.transactionId || "null"%></td>  
                    <%if(reqUser !== undefined){%>
                        <td class="all_invoices_data_rows">
                            <form action="/delete/payment/company/<%=allImpInvoices_indCompany._id%>/<%=i._id%>?_method=DELETE" method="post" class="delete_payment_company">
                                <i class="fa-solid fa-trash-can" style="color:red;cursor:pointer;"></i>
                            </form>
                        </td> 
                    <%}%>
                </tr>
            <% }} %>
        </table>
        <br>
        <div class="net_outstanding_balance_holder_div">
            <div style="width: 60%;height:100%;display: flex;">
                <div style="width:34%;margin-left: auto;text-align: center;box-sizing: border-box;padding-top: 5px;">Net Outstanding Balance :</div>
                <table style="width:33%;border:1px solid black;">
                    <tr style="height: 45%;">
                        <th>Receivable</th>
                        <th>Payable</th>
                    </tr>
                    <tr style="height:55%;">
                        <td style="border-right: 1px solid black;text-align: center;color:#009E60;font-weight: 550;" id="receivable_amount_company"></td>
                        <td style="text-align: center;color:red;font-weight: 550;" id="payable_amount_company"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="deleteConfirmation_div_company_invoice">
        <i class="fa-solid fa-xmark xmark_del_company_invoice"></i>
        <span></span>
        <div id="deleteConfirm_btn_company_invoice">Delete</div>
    </div>
    <div id="deleteConfirmation_div_company_payment">
        <i class="fa-solid fa-xmark xmark_del_company_payment"></i>
        <span></span>
        <div id="deleteConfirm_btn_company_payment">Delete</div>
    </div>
    <div id="addPayment_companyForm_holder_div">
        <form action="/addPayment/company/<%=allImpInvoices_indCompany._id%>" id="addPayment_company_form" method="post">
            <i class="fa-solid fa-xmark xmark_addPayment_company"></i>
            <label for="addPayment_company_date">Date of payment</label>
            <input type="date" id="addPayment_company_date" name="companyPayment[date]" required>
            <label for="addPayment_company_paymentType">Transaction type</label>
            <select name="companyPayment[amountType]" id="addPayment_company_paymentType" required>
                <option value="" hidden disable>select any one payment type</option>
                <option value="received">Received</option>
                <option value="paid">Paid</option>
            </select>
            <label for="addPayment_company_amount">Amount paid</label>
            <input type="number" step="any" id="addPayment_company_amount" name="companyPayment[money]" placeholder="Enter amount debited or credited" required>
            <label for="addPayment_company_transactionId">Transaction id</label>
            <input type="text" id="addPayment_company_transactionId" name="companyPayment[transactionId]" placeholder="Enter Transaction id" required>
            <button id="addpayment_company_form_submitBtn">ADD</button>
        </form>
    </div>
    <script>
        let temp = <%-JSON.stringify(allImpInvoices_indCompany)%>;
        const importsAmount = temp.invoices;
        let paymentAmount = [];
        if(temp.amount !=undefined && temp.amount.length>0){
            paymentAmount = temp.amount;
        }
    </script>
    <script>
        /////////////////////////////////////////////////////////  DELETE IMPORTs HANDLER ///////////////////////////////////////////////////////////
        const deleteCompany_invoiceForm = document.querySelectorAll(".deleteCompany_invoiceForm");
        const deleteConfirmation_div_company_invoice = document.querySelector("#deleteConfirmation_div_company_invoice");
        const xmark_del_company_invoice = document.querySelector(".xmark_del_company_invoice");
        const deleteConfirm_btn_company_invoice = document.querySelector("#deleteConfirm_btn_company_invoice");
        const indCompany_invoicesHolder = document.querySelector("#indCompany_invoicesHolder");
        const navbar = document.querySelector("#navbar");

        for(let i of deleteCompany_invoiceForm){
            i.children[0].addEventListener('click',companyDelete_handler);
        }
        xmark_del_company_invoice.addEventListener("click",()=>{
            indCompany_invoicesHolder.style.display="flex";
            deleteConfirmation_div_company_invoice.style.display="none";
            navbar.style.pointerEvents="all";
        });
        function companyDelete_handler(event){
            navbar.style.pointerEvents="none";
            indCompany_invoicesHolder.style.display="none";
            deleteConfirmation_div_company_invoice.style.display="flex";
            deleteConfirmation_div_company_invoice.children[1].innerText=`Are you sure, you want to delete invoice dated on ${event.target.parentElement.parentElement.parentElement.children[0].innerText}?`;
            deleteConfirm_btn_company_invoice.addEventListener("click",()=>{
                event.target.parentElement.submit();
            });
        }
        /////////////////////////////////////////////////////////// ADDING PAYMENTS OF COMPANY ////////////////////////////////////////////////////
        let addPayment_company = document.querySelector("#addPayment_company");
        let addPayment_companyForm_holder_div = document.querySelector("#addPayment_companyForm_holder_div");
        let xmark_addPayment_company = document.querySelector(".xmark_addPayment_company");
        let indcompany_imports_table = document.querySelector("#indcompany_imports_table");
        let indcompany_payments_table = document.querySelector("#indcompany_payments_table");
        addPayment_company.addEventListener("click",addPaymentFormFetch);

        function addPaymentFormFetch(){
            addPayment_companyForm_holder_div.style.display="block";
            xmark_addPayment_company.addEventListener("click",wrongButton_addPayment_company);
            indCompany_invoicesHolder.style.display="none";
            navbar.style.pointerEvents="none";
        }
        function wrongButton_addPayment_company(){
            addPayment_companyForm_holder_div.style.display="none";
            indCompany_invoicesHolder.style.display="flex";
            navbar.style.pointerEvents="all";
            xmark_addPayment_company.removeEventListener("click",wrongButton_addPayment_company);
        }
        ///////////////////////////////////////////////////////// DELETE PAYMENTs HANDLER ///////////////////////////////////////////////////////////
        const delete_payment_company = document.querySelectorAll(".delete_payment_company");
        const deleteConfirmation_div_company_payment = document.querySelector("#deleteConfirmation_div_company_payment");
        const xmark_del_company_payment = document.querySelector(".xmark_del_company_payment");
        const deleteConfirm_btn_company_payment = document.querySelector("#deleteConfirm_btn_company_payment");

        for(let i of delete_payment_company){
            i.children[0].addEventListener('click',company_paymentDelete_handler);
        }
        xmark_del_company_payment.addEventListener("click",()=>{
            navbar.style.pointerEvents="all";
            indCompany_invoicesHolder.style.display="flex";
            deleteConfirmation_div_company_payment.style.display="none";
        });
        function company_paymentDelete_handler(event){
            navbar.style.pointerEvents="none";
            indCompany_invoicesHolder.style.display="none";
            deleteConfirmation_div_company_payment.style.display="flex";
            deleteConfirmation_div_company_payment.children[1].innerText=`Are you sure, you want to delete this payment dated on ${event.target.parentElement.parentElement.parentElement.children[0].innerText}?`;
            deleteConfirm_btn_company_payment.addEventListener("click",()=>{
                event.target.parentElement.submit();
            });
        }
        //////////////////////////////////////////////////////////// TOTAL NET OUTSTANDING AMOUNT CALCULATION ///////////////////////////////////////////////////////
        let payable_amount = document.querySelector("#payable_amount_company");
        let receivable_amount = document.querySelector("#receivable_amount_company");
        let totalImportAmount = 0;
        let totalPaymentAmount = 0;
        for(let i of importsAmount){
            totalImportAmount += i.totalSpendable;
        }
        for(let i of paymentAmount){
            if(i.amountType === "RECEIVED"){
                totalPaymentAmount += i.money;
            }else if(i.amountType === "PAID"){
                totalPaymentAmount -= i.money;
            }
        }
        if(totalImportAmount + totalPaymentAmount < 0){
            receivable_amount.innerText = Math.abs(totalImportAmount + totalPaymentAmount).toLocaleString("en-IN");
            payable_amount.innerText = 0;
        }else if(totalImportAmount + totalPaymentAmount >= 0){
            receivable_amount.innerText = 0;
            payable_amount.innerText = Math.abs(totalImportAmount + totalPaymentAmount).toLocaleString("en-IN");
        }
    </script>
    <script src="/JS/invoiceDownload.js"></script>
</body>